/* // Color assignments
@font-color: @white;
//@button-bg: @eastern-blue;
@main-bg: @white;
//@navigation-border: @silver;
//@footer-bg: @sandy-beach;

// Colors
@white: #ffffff;
@simpsonyellow: #FFD90F;
@skyblue: #3AC8FF;
@mintgreen: #3AF1FF;
@lightyellow: #FFF738;
@pink: #FF7C8E; */

/* <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  background: url("https://codingchiro.github.io/Simpson-Says/Images/Clouds.jpg");
  font-family: "Rock Salt", cursive;
}

.App {
  text-align: center;
  width: 100%;
  /* border: 2px solid red; */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 1.5rem;
  justify-content: space-between;
  width: 400px;
  margin-right: 250px;
}

nav a {
  color: #222;
  text-decoration: none;
}

.admin-span {
  color: #222;
}

.user {
  color: #222;
}

.animated {
  display: flex;
  margin-left: 250px;
  align-items: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  background: #3ac8ff;
  color: #ffffff;
  border-bottom: 1px solid #000000;
  align-items: center;
  height: 130px;
}

.nav-content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-top: 20px;
  color: #ffffff;
}

/* .navbar {
  /* margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff738;
  height: 80px; */
/*
  width: 100%;
  justify-content: space-around;
  background-color: #3ac8ff;
  border-bottom: none;
  display: flex;
  background: #ffd90f;
  color: #ffffff;
  border-bottom: 1px solid #000000;
} 
*/

/* .navbar > li > a {
  color: #4285f4;
  text-decoration: none;
  padding: 24px;
  height: 16px;
} */

.navbar > li > a.activeNavButton {
  background-color: #4285f4;
  color: white;
}

.nav-buttons {
  margin: 16px 36px;
  display: flex;
  justify-content: space-between;
}

.nav-buttons > button {
  border: none;
  padding: 6px 16px;
  font-size: 16px;
  background-color: #4285f4;
  color: white;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.nav-buttons > a:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

input {
  padding: 25px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #fff;
  background-color: #ff7c8e;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Roboto;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
